<div class="container m-5">
    <p style="text-align: center;" class="jugador">Jugador = 1 </p>
    <div class="row">
        <div class="col lado_izquierdo1" (click)="jugador([0,0])">

            <div class="contenedorGame">

                <p>x</p>
            </div>
        </div>
        <div class="col ladocentro1" (click)="jugador([0,1])">
            <div class="contenedorGame">
                <p>x</p>
            </div>
        </div>
        <div class="col lado_derecho1" (click)="jugador([0,2])">
            <div class="contenedorGame">
                <p>x</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col lado_izquierdo2" (click)="jugador([1,0])">
            <div class="contenedorGame">
                <p>x</p>
            </div>
        </div>
        <div class="col ladocentro2" (click)="jugador([1,1])">
            <div class="contenedorGame">
                <p>x</p>
            </div>
        </div>
        <div class="col lado_derecho2" (click)="jugador([1,2])">
            <div class="contenedorGame">
                <p>x</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col lado_izquierdo3" (click)="jugador([2,0])">
            <div class="contenedorGame">
                <p>x</p>
            </div>
        </div>
        <div class="col ladocentro3" (click)="jugador([2,1])">
            <div class="contenedorGame">
                <p>x</p>
            </div>
        </div>
        <div class="col lado_derecho3" (click)="jugador([2,2])">
            <div class="contenedorGame">
                <p>x</p>
            </div>
        </div>
    </div>
</div>